/*contact*/
#formcontent {
  max-width: 970px;
}
.contact_title {
  font-family: "Wire One", sans-serif;
  text-align: center;
  font-size: 150px;
  color: #5a5a5a;
  margin: 75px 200px 25px 205px;
  padding: 0 0 0 0;
}
.formname {
  display: inline-block;
  margin: 0px 100px 100px 200px;
}
.formname {
  color: grey;
  font-size: 11px;
  border-radius: 20px;
  background-color: transparent;
  width: inherit;
  height: auto;
  padding: 20px;
  margin-left: 163.249px;
  margin-right: 163.249px;
}
.lastname {
  float: right;
  width: 45%;
}
input,
textarea {
  border-radius: 10px;
  padding: 0.5em 0.7em;
  border: 2px solid #5a5a5a;
  margin: 0.25em 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #a1a1a1;
  margin-bottom: 20px;
}
textarea {
  padding: inherit;
  width: 560.751px;
}
#lname {
  float: right;
  width: 265px;
  height: 31.835px;
}
#fname {
  width: 265px;
  height: 31.835px;
}
#email,
#subject {
  width: 580.751px;
  height: 31.835px;
}
.submit {
  background-color: #515151;
  width: 200px;
  padding: 4px;
  padding-bottom: 2px;
  padding-top: 2px;
  border: 0;
  height: 41.835px;
  font-size: 2em;
  color: white;
}
.submit:hover {
  background-color: #131313;
  transition: 1s;
  cursor: pointer;
}
.submit:active {
  background-color: wheat;
  color: #a5a5a5;
}
