.logo {
    width: 428px !important;
    margin-left: 20px !important;
}

@media (min-width: 450px){
.navlinks {
    width:450px  !important;
    }
    .navbar {
        margin-left:180px  !important;
        left: 0% !important;
        position: fixed  !important;
        transform: translateX(0%) !important;
        
    }
}