@import url('https://fonts.googleapis.com/css2?family=Alice&family=Belleza&family=Cardo&family=Grenze:wght@100&display=swap');

.logo {
    width: 428px !important;
    margin-left: 20px !important;
}


/* video */
.video-background {
    position: absolute;
    right: 0%;
    height: 100vh;
    display: block;
    overflow: hidden;
    top: 0%;
  }
  

/* END OF VIDEO */

.my-5 {
    margin-top: 20rem !important;
    margin-bottom: 3rem !important;
}
@media (min-width: 450px){
    .block {
        height:100vh;
      }
.navlinks {
    width:450px  !important;
    }
    .navbar {
        margin-left:180px  !important;
        left: 0% !important;
        position: fixed  !important;
        transform: translateX(0%) !important;
        
    }
}