@import url('https://fonts.googleapis.com/css2?family=Alice&family=Belleza&family=Cardo&family=Grenze:wght@100&display=swap');

@font-face {
    font-family:bones;
    src: url(fonts/BLACK\ BONES.TTF);
}
@font-face {
    font-family:qui;
    src: url(fonts/QUICHEDISPLAY-BOLD.TTF);
}
@font-face {
    font-family:sauce;
    src: url(fonts/OPENSAUCESANS-LIGHT.TTF);
}
@font-face {
    font-family:bodoni;
    src: url(fonts/BOD_B.TTF);
}
.display-1 {
font-family:"bones";
}

h3 {
font-family: 'Grenze';
}

nav-link {
    font-family: 'bodoni';
}